body {
   background-color: rgb(224, 223, 223);
}

.header {
   display: flex;
   flex-direction: column;
   background-color: white;
   text-align: center;
   margin-bottom: 20px;
   border: 1px solid black;
   flex: 1;
}

.body {
   display: flex;
   flex-direction: column;
   
   flex: 1;
}

label {
 font-size: 20px;  
 font-weight: bold;
 margin-right: 50px;
 margin-left: 20px;
}

input {
   background-color: white;
   border-radius: 10px;
   font-size: 15px;
}

.submit {
   margin-left: 100px;
}