<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8" dir="ltr">
      <link href="css/index.css" rel="stylesheet">
      <title>Users Page</title>
   </head>
   <body>
      <header>
         <div class="header">
            <div class="header-1">
               <h1>Add Users FORM</h1>
            </div>
         </div>
      </header>
      <main>
         <div class="main">
            <form action="/addusers" method="post">
            <div class="main-0">
               
               <h1>Add Users Game</h1>
            </div>
            <div class="main-2">
               <label for="userName">Enter Name: </label>
               <input type="text" name="userName" id ="name" placeholder="Insert Your Name">
            </div>
            <div class="main-2">
               <label for="passWord">Enter Passw: </label>
               <input type="password" name="passWord" id ="password" placeholder="Insert Your password">
            </div>
            <div class="main-3">
               <button class="button-1">Submit</button>
            </div>
            
         </form>
         </div>
      
      </main>
   </body>
</html>