<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" dir="ltr">
      <link href="css/controlpanel.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <title>
         Control Panel
      </title>
   </head>
   <body>
      <div class="header">
         <h1> CONTROL PANEL SUPER USER </h1>
      </div>
      <div class="body">
         <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">No</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col">Biodata</th>
                <th scope="col">history</th>
                <th scope="col">Edit</th>
              </tr>
            </thead>
            <tbody>
              <% for (let i = 0; i < data.length; i++) { %>
              <tr>
                <th scope="row"><%=i+1%></th>
                <td><%= data[i].userName %></td>
                <td><%= data[i].passWord %></td>
                <td><a href="/biodata/<%= data[i].id %>">View biodata</a>( Post with PostMan )</td>
                <td><a href="/history/<%= data[i].id %>">View history</a>( Post with PostMan )</td>
                <td><a href='/editpanel/<%= data[i].id %>'>Edit </a> || <a href='/deletepanel/<%= data[i].id %>'>Delete</a></td>
              </tr>
              <% } %>
            </tbody>
          </table>
      </div>
      <div class="button"> 
         <form action="/addusers" method="get">
            <button class="buttonadd">ADD USERS</button>
         </form>
      </div>
   </body>
</html>