<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" dir="ltr">
      <link href="css/editpanel.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <title>
         Edit Panel
      </title>
   </head>
   <body>
      <div class="header">
         <h1> Edit PANEL </h1>
      </div>
      <div class="body">
         <form action="/editusers/<%= id %>" method="post">
            <label for="userName">username :</label>
            <input type="text" id="fname" name="userName" ><br><br>
            <label for="passWord">Password :</label>
            <input type="text" id="fpassword" name="passWord" ><br><br>
            <input type="submit" class="submit" value="Submit">
         </form>        
         
      </div>
   </body>
</html>