<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8" dir="ltr">
      <link href="css/index.css" rel="stylesheet">
      <title>HOMEPAGE</title>
   </head>
   <body>
      <header>
         <div class="header">
            <div class="header-1">
               <h1>Login Control Panel</h1>
            </div>
            <div class="header-2">
               <h2><a href="../"> Home </a></h2>
            </div>
         </div>
      </header>
      <main>
         <div class="main">
            <form action="/login" method="post">
            <div class="main-0">
               
               <h1>Login Super</h1>
            </div>
            <div class="main-2">
               <label for="name">Enter Name: </label>
               <input type="text" name="name" id ="name" placeholder="Insert Your Name">
            </div>
            <div class="main-2">
               <label for="password">Enter Passw: </label>
               <input type="password" name="password" id ="password" placeholder="Insert Your password">
            </div>
            <div class="main-3">
               <button class="button-1">Submit</button>
            </div>
            
         </form>
         </div>
      
      </main>
   </body>
</html>